<!--header-->
<div class="sticky-wrapper row-padding sticky-menu-boader">
    <div class="sticky-menu">
        <div class="grid-row clear-fix">
            <!-- logo -->
            <a href="#" class="logo">
                <img src="../../assets/images/applied-materials-logo-vector-png-applied-materials-logo-1000.png" alt="">
                <h4>i S y s t e m</h4>
            </a>           
        </div>
    </div>
</div>
<!--content-->
<div class="background bg-r">
    <div class="row">
        <div class="login-block">
           <div class="bg-color border-radius form-head">i S y s t e m</div>
            <form class="login-form">
                <div class="form-group mb-3">
                    <b>Username</b>
                    <input type="text" id="input" class="login-input" placeholder="User Name">
                    <img src="../../assets/images/user-icon-human.jpg" id="input_img">
                </div>
                <div class="form-group">    
                    <b>Useremail</b>
                    <input type="text" id="input" class="login-input" placeholder="User Email">
                    <img src="../../assets/images/email.jpg" id="input_img">
                </div>
                <div class="form-group mt-0">
                    <b>Pasword</b>
                    <input type="password" id="input" class="login-input"  placeholder="Pasword">
                    <img src="../../assets/images/lock-icon.png" id="input_img">
                </div><br>           
                <a [routerLink]="['../contentpage']" class="button-fullwidth login-btn bt-color-3 border-radius alt">REGISTER</a><br><br>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<!-- FOOTER -->
<footer>
    <div class="footer-bottom row-padding">
        <div class="clear-fix">
            <div class="copyright">i S y s t e m<span></span> 2020 . All Rights Reserved</div>
           
        </div>
    </div>
  </footer>
  <!-- FOOTER -->