<!-- FOOTER -->

<footer class="footer">
    <div class="footer-bottom row-padding">
        <div class="clear-fix">
            <div class="copyright">i S y s t e m<span></span> 2020 . All Rights Reserved</div>
            <!-- <nav class="footer-nav">
                <ul class="nav clear-fix">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="courses-grid.html">Courses</a>
                    </li>
                    <li>
                        <a href="contact-us.html">Contact</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>
  </footer>
  <!-- FOOTER -->